* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e8f0;
}

form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

form #input{
    flex-grow: 1;
    min-height: 25px;
    background-color: #e9d5ff;
    border: none;
    border-radius: 5px;
    padding: .3rem;
}

form button {
    flex-basis: 120px;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #6b21a8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #e9d5ff;
    font-weight: bold;
    transition: all .5s;
}

form button:hover{
    background-color: #7e22ce;
}

#messages {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #e9d5ff;
}

.header {
    background-color: #b91c1c;
    color: #fecaca;
    text-align: center;
}
.header h1 {
    font-size: 5rem;
}

.header p {
    font-size: 1.5rem;
}