body {
    /* background-color: red; */
}

form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

form #input{
    flex-grow: 1;
    min-height: 25px;
}

form button {
    flex-basis: 120px;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #6b21a8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #e9d5ff;
    font-weight: bold;
    transition: all .5s;
}